*.m4
!attribute.m4
!ax_append_flag.m4
!ax_cflags_warn_all.m4
!ax_check_compile_flag.m4
!ax_check_link_flag.m4
!ax_code_coverage.m4
!ax_require_defined.m4
!curses.m4
!libgcrypt.m4
!lz4.m4
!lzo.m4
!miniupnpc.m4
!openssl.m4
!readline.m4
!zlib.m4

