*.a
*.dirstamp
*.o
*.orig
*.swp
.deps
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/doc/sample-config.tar.gz
/doc/texinfo.tex
/doc/tinc.info
/install-sh
/missing
/src/device.c
/src/tincd
/src/version-git.h
/stamp-h1
/test-driver
Makefile
Makefile.in
core
core.*
