.*
!.github/
!.ci/
!.builds/
!.gitignore
!.astylerc
!.clang-tidy
*~
*.a
*.dirstamp
*.o
*.orig
*.swp
*.gcno
*.gcda
*-coverage*
/ChangeLog
/INSTALL
/README
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/doc/sample-config.tar.gz
/doc/*.tex
/doc/*.info
/doc/*.5
/doc/*.8
/doc/*.html
/doc/*.pdf
/doc/*.t2p
/doc/tincinclude.texi
/install-sh
/missing
/src/device.c
/src/tincd
/src/tinc
/src/sptps_keypair
/src/sptps_speed
/src/sptps_test
/src/version_git.h
/stamp-h1
/systemd/*.service
/test-driver
/test/*.test.*
/test/*.log
/test/*.trs
/test/splice
Makefile
Makefile.in
core*
heaptrack.*
*.tar.gz*
/subprojects/*
!/subprojects/*.wrap
__pycache__
