*.a
*.dirstamp
*.o
*.orig
*.swp
.deps
.libs
/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/doc/sample-config.tar.gz
/doc/*.tex
/doc/*.info
/doc/*.5
/doc/*.8
/doc/*.html
/doc/*.pdf
/doc/*.t2p
/doc/tincinclude.texi
/install-sh
/missing
/src/device.c
/src/tincd
/src/tinc
/src/sptps_keypair
/src/sptps_speed
/src/sptps_test
/src/version_git.h
/stamp-h1
/test-driver
/test/*.test.*
/test/*.log
/test/*.trs
Makefile
Makefile.in
core*
*.tar.gz*
.Tpo
