Source: tinc
Section: non-US/main
Priority: optional
Maintainer: Ivo Timmermans <ivo@debian.org>
Standards-Version: 3.0.1
Build-Depends: libc6-dev, libssl095a-dev, autoconf (>= 2.12),
 automake, debhelper, libtool

Package: tinc
Architecture: i386
Depends: ${shlibs:Depends}, ${perl:Depends}
Description: Virtual Private Network daemon
 tinc is a daemon with which you can create a virtual private network
 (VPN).  One daemon can handle multiple connections, so you can
 create an entire (moderately sized) VPN with only one daemon per
 participating computer.
 .
 You need to have two kernel modules installed, on a Debian system
 they should already be there.  If they are not, the manual will
 explain you how to do that.
